<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Login</h1>
            <input type="text" class="form-control" placeholder="username" ng-model="model.user.username" />
            <br/>
            <input type="password" class="form-control" placeholder="password" ng-model="model.user.password" />
            <br/>
            <a ng-click="model.login(model.user)" class="btn btn-primary btn-block">Login</a>
            <a href="#!/register" class="btn btn-success btn-block">Register</a>

            <h5 class="text-danger">{{model.alert}}</h5>
        </div>
    </div>
</div>