
<div class="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pull-left">
                <h3>Profile</h3>
            </div>
            <div class="col-md-6 pull-right iconCheck">
                <a ng-click="model.updateUser(model.user)"><i class="fa fa-check" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="container main-content">
    <div class="row">
        <div class="col-md-12">
            <br/>
            <label>Username</label>
            <input type="text" class="form-control" value="Name" ng-model="model.user.username" />
            <br/>
            <label>Email</label>
            <input type="email" class="form-control" value="jannunzi@gmail.com" ng-model="model.user.email" />
            <br/>
            <label>First Name</label>
            <input type="text" class="form-control" value="Jose" ng-model="model.user.firstName" />
            <br/>
            <label>Last Name</label>
            <input type="text" class="form-control" value="Annunziato" ng-model="model.user.lastName" />
            <br/>
            <a href="#!/user/123/website" class="btn btn-primary btn-block">Websites</a>
            <a href="#!/login" class="btn btn-danger btn-block">Logout</a>
            <h5 class="text-success">{{model.success}}</h5>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pull-right iconUser">
                <a ng-click="model.goToProfile()"><i class="fa fa-user" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>