<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Register</h1>
            <input type="text" class="form-control" placeholder="username" />
            <br/>
            <input type="password" class="form-control" placeholder="password" />
            <br/>
            <input type="password" class="form-control" placeholder="verify password" />
            <br/>
            <a href="profile.html" class="btn btn-primary btn-block">Register</a>
            <a href="login.html" class="btn btn-danger btn-block">Cancel</a>
        </div>
    </div>
</div>