<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Register</h1>
            <input type="text" class="form-control" placeholder="username" ng-model="model.user.username" />
            <br/>
            <input type="password" class="form-control" placeholder="password" ng-model="model.user.password" />
            <br/>
            <input type="password" class="form-control" placeholder="verify password" ng-model="model.user.verifypassword" />
            <br/>
            <a href="#!/user/1" class="btn btn-primary btn-block">Register</a>
            <a href="#!/login" class="btn btn-danger btn-block">Cancel</a>
        </div>
    </div>
</div>