<h2>Movies</h2>

<ul class="list-group">
	<li class="list-group-item">
		<input class="form-control" ng-model="model.movie.name" />
		<span ng-click="model.createMovie(model.movie)" class="glyphicon glyphicon-plus pull-right" style="position: relative; top: -25px; right: 10px;"></span>
	</li>
	<li class="list-group-item" ng-repeat="movie in model.movies">
		{{movie.name}}
		<span ng-click="model.deletemMovie(movie._id)" class="glyphicon glyphicon-remove-sign pull-right" style="position: relative; right: 10px;"></span>
	</li>
	<h5 ng-if="model.success" class="text-success">{{model.success}}</h5>
	<h5 ng-if="model.delete" class="text-success">{{model.delete}}</h5>
</ul>