<div class="heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pull-left iconBack">
                <a ng-click="model.goToCreateImageWidget()"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                <h3>Search Flicker</h3>
            </div>
        </div>
    </div>
</div>
<div class="container main-content">
	<br/>
	<form method="post">
	    <div class="col-md-11 noPad">
	    	<input type="text" class="form-control searchFlickr" ng-model="searchValue" placeholder="Search Images on Flickr" />
	    </div>
	    <div class="col-md-1 noPad text-center searchIcon">
	    	<a ng-click="model.searchImages(searchValue)"><i class="fa fa-search" aria-hidden="true"></i></a>
	    </div>
	</form>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pull-right iconUser">
                <a ng-click="model.goToProfile()"><i class="fa fa-user" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>