<div class="default-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pull-left iconDefaultBack">
                <a ng-click="model.goToWidgets()"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                <h3>Choose Widget</h3>
            </div>
        </div>
    </div>
</div>
<div class="container main-content">
    <br/>
    <div class="row websiteRow">
        <div class="col-md-12 padBtm">
            <p><a ng-click="model.createWidget('HEADING')">Header</a> </p>
        </div>
        <div class="col-md-12 padBtm">
            <p><a ng-click="model.createWidget('HTML')">HTML</a> </p>
        </div>
        <div class="col-md-12 padBtm">
            <p><a ng-click="model.createWidget('IMAGE')">Image</a> </p>
        </div>
        <div class="col-md-12 padBtm">
            <p><a ng-click="model.createWidget('YOUTUBE')">YouTube</a> </p>
        </div>
    </div>
</div>
<div class="default-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pull-right iconDefaultUser">
                <a ng-click="model.goToProfile()"><i class="fa fa-user" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>