<div class="container" ng-switch="widget.size">
    <div class="padBtm head" ng-switch-when="1">
    	<h1>{{widget.text}}</h1>
    </div>
    <div class="padBtm head" ng-switch-when="2">
    	<h2>{{widget.text}}</h2>
    </div>
    <div class="padBtm head" ng-switch-when="3">
    	<h3>{{widget.text}}</h3>
    </div>
    <div class="padBtm head" ng-switch-when="4">
    	<h4>{{widget.text}}</h4>
    </div>
    <div class="padBtm head" ng-switch-when="5">
    	<h5>{{widget.text}}</h5>
    </div>
    <div class="padBtm head" ng-switch-when="6">
    	<h6>{{widget.text}}</h6>
    </div>
</div>