<div class="container">
    <br/>
    <label>Widget Type</label>
    <input type="text" class="form-control" ng-model="model.widgetType" />
    <br/>
    <label>Text</label>
    <input type="text" class="form-control" ng-model="model.widget.text" />
    <br/>
    <label>URL</label>
    <input type="text" class="form-control" ng-model="model.widget.url" />
    <br/>
    <label>Width</label>
    <select class="form-control" ng-model="model.widget.width">
        <option value="20%">20%</option>
        <option value="40%">40%</option>
        <option value="60%">60%</option>
        <option value="80%">80%</option>
        <option value="100%">100%</option>
    </select>
    <br/>
</div>