<div class="container">
    <br/>
    <label>Widget Type</label>
    <input type="text" class="form-control" ng-model="model.widgetType" />
    <br/>
    <label>Text</label>
    <input type="text" class="form-control" ng-model="model.widget.text" />
    <br/>
    <label>Rows</label>
    <input type="number" class="form-control" ng-model="model.widget.rows" />
    <br/>
    <label>Placeholder</label>
    <input type="text" class="form-control" ng-model="model.widget.placeholder" />
    <br/>
    <input id="formatted" type="checkbox" ng-model="model.widget.formatted" />
    <label for="formatted">Formatted</label>
    <br/>
</div>