<div class="container">
    <form method="post" id="uploadImage" action="/api/upload/" enctype="multipart/form-data">
        <br/>
        <label>Widget Type</label>
        <input type="text" class="form-control" ng-model="model.widgetType" />
        <br/>
        <label>Text</label>
        <input type="text" class="form-control" ng-model="model.widget.text" />
        <br/>
        <!-- <label>URL</label>
        <input type="text" class="form-control" ng-model="model.widget.url" /> -->
        <!-- <br/> -->
        <label>Width</label>
        <select class="form-control" ng-model="model.widget.width">
            <option value="20%">20%</option>
            <option value="40%">40%</option>
            <option value="60%">60%</option>
            <option value="80%">80%</option>
            <option value="100%">100%</option>
        </select>
        <br/>
        <label>Upload Image</label>
        <input type="file" class="form-control" ng-model="model.widget.url" name="myFile" />
        <br/>
        <input type="submit" class="btn btn-primary btn-bordered" ng-click="model.uploadImage(model.widget, model.widgetType)" />
        <br/>
    </form>
</div>