<div class="container">
    <br/>
    <label>Widget Type</label>
    <input type="text" class="form-control" ng-model="model.widget.widgetType" />
    <br/>
    <label>Text</label>
    <input type="text" class="form-control" ng-model="model.widget.text" />
    <br/>
    <label>Size</label>
    <select ng-model="model.widget.size" class="form-control">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
    </select>
    <br/>
    <a ng-click="model.deleteWidget()" class="btn btn-danger btn-block">Delete</a>
</div>