<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<title>EJS</title>
<div class="container-fluid">
	<h1>Form List</h1>

	<div class="input-group">
		<input type="text" class="form-control" placeholder="Search for..">
		<span class="input-group-btn">
			<button class="btn btn-primary" type="button">Add</button>
			<button class="btn btn-success" type="button">Update</button>
		</span>
	</div>

	<br/>

	<ul class="list-group">
		<% for(var i=0; i < forms.length; i++) { %>
			<li class="list-group-item">
				<%= forms[i].name %>
				<span class="pull-right">
					<a href="#">
						<span class="glyphicon glyphicon-remove"></span>
					</a>
					<a href="#">
					<span class="glyphicon glyphicon-cog"></span>
					</a>
				</span>
			</li>
		<% } %>		
	</ul>
</div>