<div class="default-heading">
    <div class="container">
        <div class="row">
            <div class="col-md-6 pull-left iconDefaultBack">
                <a href="page-list.html"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                <h3>Edit Page</h3>
            </div>
            <div class="col-md-6 pull-right iconDefaultCheck">
                <a href="page-list.html"><i class="fa fa-check" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="container main-content">
    <br/>
    <label>Name</label>
    <input type="text" class="form-control" value="Blog Post" />
    <br/>
    <label>Title</label>
    <input type="text" class="form-control" placeholder="Page Title" />
    <br/>
    <a href="page-list.html" class="btn btn-danger btn-block">Delete</a>
</div>
<div class="default-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pull-right iconDefaultUser">
                <a href="profile.html"><i class="fa fa-user" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>